@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0c2461;
}

.java-01 h2 {
    position: relative;
    font-size: 3em;
    letter-spacing: .05em;
    cursor: default;
    text-transform: uppercase;
    font-weight: 500;
}

.java-01 h2 span {
    color: silver;
    transition: .5s;
}

.java-01 h2:hover span {
    color: #4ceffe;
    text-shadow: 0 0 5px #4ceffe,
    0 0 15px #4ceffe,
    0 0 30px #4ceffe,
    0 0 60px #4ceffe;
}