@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

body {
   background: #f9f9f9;
   min-height: 100vh;
}

header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   padding: 30px 100px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   z-index: 100;
}

.logo {
   font-size: 2em;
   color: #539381;
   margin-right: 270px;
}

.navigation a {
   color: #539381;
   text-decoration: none;
   padding: 6px 15px;
   border-radius: 20px;
   margin: 0 10px;
   font-weight: 600;
   transition: .5s;
}

.navigation a:hover,
.navigation a.active {
   background: #539381;
   color: #fff;
}

.parallax {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   overflow: hidden;
}

.parallax img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   pointer-events: none;
}

#text {
   position: relative;
   font-size: 10em;
   color: #fff;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.content {
   position: relative;
   background-color: #003329;
   padding: 100px;
}

.content h2 {
   font-size: 3em;
   color: #fff;
   margin-bottom: 10px;
}

.content p {
   font-size: 1em;
   color: #fff;
   font-weight: 300;
}

